.comment-container{
    display: flex;
    margin-bottom: 24px;
    border-bottom: 1px red solid;
    padding-bottom: 15px;
}
.comment-body-div-prof-pic{
    margin-right: 25px;
}
.comment-body-prof-pic{
    height: 50px;
    width: 50px;
    border-radius: 50%;

}
.comment-body-container{
    width: 100%;
}
.username-posted{
    display: flex;
}

.comment-top-row-username{
    margin-right: 10px;
}
.comment-body-first-row{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-self: center;
    align-items: center;
}

.comment-body-comment{
    margin-top: 15px;
    margin-bottom: 30px;
}
.comment-body-bottom-row{
    display: flex;
    justify-content: space-between;
}

.comment-like-button{
    z-index: 1000;
}

.top-of-modal-message{
    display: flex;
    justify-content: center;
    border-bottom: 1px red solid;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-weight: bolder;
    font-size: 20px;
    align-items: center;
}

.comment-body-comment-modal{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 18px;
}

.comment-top-row-updated{
    font-size: 12px;
    align-content: flex-end;
    align-self: center;
    align-items: center;
    justify-content: flex-end;
}

.comment-icon{
    height: 30px;
    width: 30px;
}
.comment-icon-container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    cursor: pointer;
}

.comment-icon-container > div{
    margin-right: 5px;
}

.comment-like-pic{
    height: 30px;
    width: 30px;
}
