.top-container{
    display: flex;
    justify-content: space-between;
}

.co-info-p-change{
    display: flex;
    flex-direction: row;
}

.co-p-change-red{
    margin-left: 10px;
    color:red;
}
.co-p-change-green{
    margin-left: 10px;
    color:green;
}

.down-arrow{
    height: 16px;
    width: 16px;
    transform: scaleY(-1);
}
