.main-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.5fr 1.5fr 0.5fr;
    /* grid-template-rows: 0.1fr; */
    gap: 0px 0px;
    grid-template-areas:
    "portfolio discussion-feed .";
    margin-right: 10rem;
    margin-left: 15rem;

  }

.portfolio{
    display: flex;
    /* align-content: flex-end; */
    flex-direction: column;
    /* margin-left: 50px; */

}

.portfolio-name{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    justify-items: flex-start;
    align-content: flex-start;
    border-bottom: 1px solid red;
    padding-bottom: 5px;

}
.discussion-feed{
    padding-left: 40px;
    padding-right: 250px;
    max-width: 600px;
}

.discussion-graph{
    margin-top: 10px;
}

.add-comment-textarea{
    width: 475px;
    height: 78px;
    border: 3px solid #cccccc;
    padding: 5px;
    resize: none;
    font-size: 15px;
}

.add-comment-textarea-r{
    width: 425px;
    height: 78px;
    border: 3px solid #cccccc;
    padding: 5px;
    resize: none;
    font-size: 15px;
}

/* .post-comment-button{
    height: 30px;
    margin-left: 8px;
} */

.post-comment-button{
    background-color: rgb(22, 91, 182);
    transition-property: background-color,color,fill;
    outline: 0;
    white-space: nowrap;
    color: white;
    cursor: pointer;
    font-weight: 600;
    /* width: 100%; */
    text-align: center;
    padding: 7px 15px;
    margin-left: 5px;
    outline-color: initial;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    transition-duration: .5s
}

.post-comment-button:hover{
    outline: 0;
    background-color: lightgray;
    white-space: nowrap;
    color: rgb(22, 91, 182);
    cursor: pointer;
    font-weight: 700;
    /* width: 100%; */
    text-align: center;
    padding: 7px 15px;
    margin-left: 5px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
}

.post-button-container{
    display: flex;
    justify-content: flex-start;
}

.add-comment-container{
    display: flex;
    align-items: center;
}

.comment-prof-pic{
    height: 30px;
    width: 30px;
    margin-right: 7px;
    border-radius: 50%;
}
.larger-comment-container{
    display: flex;
    margin-bottom: 11px;
    padding-bottom: 25px;
    border-bottom: 1px red solid;
}

.watch-button{
    background-color: rgb(22, 91, 182);
    transition-property: background-color,color,fill;
    outline: 0;
    white-space: nowrap;
    color: white;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    text-align: center;
    padding: 7px 20px;
    outline-color: initial;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    transition-duration: .5s
}

.watch-button:hover{
    outline: 0;
    background-color: lightgray;
    white-space: nowrap;
    color: rgb(22, 91, 182);
    cursor: pointer;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding: 7px 20px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
}

.watch-button-unwatch{
    background-color: lightgray;
    transition-property: background-color,color,fill;
    outline: 0;
    white-space: nowrap;
    color: rgb(22, 91, 182);
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    text-align: center;
    padding: 7px 12px;
    outline-color: initial;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    transition-duration: .5s;
}
.top-right{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.watch-button-unwatch:hover{
    /* transition-property: background-color,color,fill; */
    outline: 0;
    background-color: rgb(22, 91, 182);
    white-space: nowrap;
    color: black;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    text-align: center;
    padding: 7px 12px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
}

.watch-icon{
    height: 20px;
    width: 20px;
    margin-right: 7px;
    mix-blend-mode: multiply;
}
.watch-icon:hover{
    height: 20px;
    width: 20px;
    margin-right: 5px;
    mix-blend-mode: multiply;
}
