.main-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.5fr 1.5fr 0.5fr;
    /* grid-template-rows: 0.1fr; */
    gap: 0px 0px;
    grid-template-areas:
    "portfolio discussion-feed .";
    margin-right: 10rem;
    margin-left: 15rem;

  }

.portfolio{
    display: flex;
    /* align-content: flex-end; */
    flex-direction: column;
    /* margin-left: 50px; */

}

.portfolio-name{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    justify-items: flex-start;
    align-content: flex-start;
    margin-left: 25px;
}
.discussion-feed{
    padding-left: 40px;
    padding-right: 250px;
    max-width: 600px;
}

.discussion-graph{
    margin-top: 10px;
}

.add-comment-textarea{
    width: 500px;
    height: 78px;
    border: 3px solid #cccccc;
    padding: 5px;
    resize: none;
    font-size: 15px;
}

.post-comment-button{
    height: 30px;
    margin-left: 8px;
}

.add-comment-container{
    display: flex;
    align-items: center;
}

.comment-prof-pic{
    height: 30px;
    width: 30px;
    margin-right: 7px;
    border-radius: 50%;
}
.larger-comment-container{
    display: flex;
}
