.search__bar input[type=text] {
    padding-top: 4%;
    padding-left: 5%;
    padding-bottom: 4%;
    padding-right: 60%;
    border: solid gray 1px;
    background-color: rgba(255, 255, 255, 0.87);

    font-size: 12pt;
    margin-right: 25px;
}

.search__bar input[type="text"], textarea {
    background-color : #d1d1d142;
    color: white;
  }

.search-bar-div{
   width: 17.85%;
}

.search_container {
    display: flex;
    margin-bottom: 0.3%;
    /* width: 3.5%; */
}


#search_results {
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: hidden;
    list-style: none;
    width: 17.85%;
    position: absolute;
    margin-top: 2%;
    background-color: rgb(87, 87, 87);

    color: white;
}

.search-result-select{
    padding: 5px;
    border: rgb(109, 109, 109) 1px solid;
}

.search-result-select:hover{
    padding: 5px;
    border: rgb(109, 109, 109) 1px solid;
    background-color: gray;
}

/* div{
    border: red 1px solid;
} */
