.navbar {
    z-index: 99;
    /* position: fixed; */
    top: 0;
    background-color: black;
    border: solid red 1px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 69px;
    /* padding: 0 20px; */
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;

}

.nav-container{
    margin-left: 8rem;
    margin-right: 8 rem;
}

.trending-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.6fr 1.4fr;
    /* grid-template-rows: 0.3fr; */
    height: 30px;
    gap: 0px 0px;
    grid-template-areas:
      "three feed";
  }
  .three {
      grid-area: three;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
}
  .feed {
      grid-area: feed;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
